body{
    display: flex;
    background: url(./img/bg/bg.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
   
}

.welcoming{
    display: flex;
    width: 75vw;
    height: 50vh;
    background: rgba(77, 178, 241, 0.9);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 300px;
    margin-right: 150px;
    border-radius: 20px;
    border: 4px solid rgba(26, 148, 255, 0.834);
    flex-direction: column;
}

.wlabel{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: white;
    text-align: center;
    margin-top: 5%;
}

.welcoming p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    margin: 5%;
    text-align: center;
}

