.categoryTable{
    display: flex;
    flex-direction: column;
}

.divSth{
    display: flex
}

.divSth button{
    width: 50px;
    height: 50px;
    margin-top: 7vh;
    margin-left: 2vw;
    background-color: rgb(77, 178, 241);
    border: 3px solid rgb(198, 240, 255);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divSth button:hover{
    background-color: rgb(64, 151, 205);
}
.categoryTable label{
    margin-left: 10vw;
    margin-right: 43.3vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 4em;
    color: white;
    -webkit-text-stroke: 1px rgb(77, 178, 241);
}

#table table input{
    height: 25px;
    text-align: center;
    border: none;
}


#table table input:focus {
    outline: none;
}

#DeleteBtn {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
#DeleteBtn:hover {
    background-color: #d32f2f;
}

#UpdateBtn {
    background-color: #eee15a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#UpdateBtn:hover {
    background-color: #d3c52f;
}

#table table {
	width: 50,5%;
	margin-bottom: 20px;
    margin-left: 40vw;
	border: 15px solid rgb(55, 167, 237);
	border-top: 5px solid rgb(15, 163, 255);
	border-collapse: collapse; 
    background-color: rgb(77, 178, 241);
}

#table table th {
    color: white;
	font-weight: bold;
	padding: 5px;
	background: rgb(15, 163, 255);
	border: none;
	border-bottom: 5px solid #F2F8F8;
}

#table table td {
	padding: 5px;
	border: none;
	border-bottom: 5px solid #F2F8F8;
}

#AddCategoryForm {
    position: absolute;
    top: 35%;
    left: 40%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#AddCategoryForm label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

#AddCategoryForm input[type="text"],
#AddCategoryForm input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#BtnWrapper {
    text-align: center;
    margin-top: 20px;
}

#ConfirmBtn, 
#DeclineBtn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#ConfirmBtn {
    background-color: #4CAF50;
    color: white;
}

#ConfirmBtn:hover {
    background-color: #45a049;
}

#DeclineBtn {
    background-color: #f44336;
    color: white;
}

#DeclineBtn:hover {
    background-color: #e53935;
}